* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

body {
    background-color: rgb(235, 232, 232);
}

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.938);
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom: red 1px;
    height: 100px;
    border-bottom: solid 2px red;
}

.title {
    color: red;
    margin-left: 10px;
    text-align: center;
}

.currentDate {
    margin-right: 10px;
    margin-top: 10px;
}

article {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 2px;
    margin: 10px;
    padding: 5px;
    box-shadow: 7px 7px lightgrey;
    background-color:rgb(253, 253, 253);
    margin: 20px;
}

.author {
    color: rgb(114, 113, 113);
    font-size: 12px;
    text-align: center;
    font-style: italic;
}

img {
    width: 100%;
    margin-bottom: 0px;
    margin-bottom: 10px;
}

.content {
    line-height: 1.2;
}

.postDate {
    margin-top: 5px;
    font-style: italic;
}

.heartForLikes {
    width: 25px;
    height: 20px;
}

h2 {
    text-decoration: underline;
    color: rgb(43, 44, 44);
    text-align: center;
    font-size: 40px;
}

.likes {
    color: rgb(107, 107, 107);
    font-size: 12px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
}

.postDate {
    margin-left: -40px;
}


@media (min-width: 600px) {

    .mediaQuery {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

   article {
    max-width: 60%;
   }

    h1 {
        font-size: 40px;
    }
   
    h2 {
       font-size: 35px;
    }

   .author, .postDate {
    font-size: 15px;
   }
}

@media(min-width: 900px) { 

    .mediaQuery {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

   article {  
    max-width: 50%;
   }

   h2 {
       font-size: 40px;
   }

   p {
       font-size: 18px;
   }
}
