* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

body {
    background-color: rgb(148, 179, 218);
}

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: white;
}

.title {
 color: red;
 margin-left: 10px;
 text-align: center;
}

.currentDate {
   margin-right: 10px;
    margin-top: 10px;
}

article {
    border: 2px solid white;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    box-shadow: 5px 5px lightgrey;
    background-color:rgb(228, 250, 250);
}

.author {
    color: rgb(114, 113, 113);
    font-size: 12px;
    text-align: center;
}

img {
    width: 100%;
    margin-bottom: 10px;
}

.content {
    line-height: 1.2;
}

.postDate {
    margin-top: 5px;
}

.heartForLikes {
    width: 25px;
    height: 20px;
}

h2 {
    text-decoration: underline;
    color: rgb(43, 44, 44);
    text-align: center;
}

ul {
    color: rgb(107, 107, 107);
    font-size: 12px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
}


@media (min-width: 600px) {
   .gridContainer {
       display: grid;
       grid-template-columns: repeat(2,1fr);
       grid-template-rows: repeat(2,1fr);
       grid-column: 1/2;
       grid-row: 1/2;
   }
    h1 {
        font-size: 40px;
    }
    h2 {
       font-size: 35px;
   }
   .author, .postDate {
    font-size: 15px;
   }

}
